/* body{
    border: 10px solid red;
} */

.game-container{
    border-top: 2px solid blue;
    padding: 20px;
    
}

.status-info{
    /* border: 3px solid red; */
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}
/* playing board */
.board{
    border: 2px solid green;
    /* min-height: 90%;
    aspect-ratio: 1/1; */
    background-color: black;
    display:grid;
    grid-template-columns: repeat(30,1fr);
    grid-template-rows: repeat(30,1fr);
}

/* drawing the snake */
.snake{
    border: 1px solid black;
}

.food{
    border: 1px solid black;
    background-color: red;
}

